h2.text-center Welcome to Tipical!

p Tipical is <em>the</em> solution for keeping track of your earnings throughout your shift. Tipical calculates and keep track of tips, meals served, and customer totals through an effortless interface.

p To get started, click on "New Meal". Input some basic information like tax rate and meal price, we'll handle the rest. Jump over to "My Earnings" anytime you want to see how much you've earned tonight.

p Thanks for using Tipical! Now get out there and earn your keep, you awesome person you!
