!!! 5
html(ng-app="calcApp")
  head
    title Thinkful Waitstaff Calculator
    //- link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
    link(href="css/styles.css", rel="stylesheet")

  body
    .container(ng-controller="calcCtrl")
      header
        h1 TipiCal

      .panel
        h2 Enter the Meal Details
        form(ng-submit="submitForm()", name="priceForm", novalidate)
          .form-group
            label.control-label Base Meal Price ($)
            input.form-control(type="number", ng-model="data.base_price")

          .form-group
            label.control-label Tax Rate (%)
            input.form-control(type="number", ng-model="data.tax_rate")

          .form-group
            label.control-label Tip Percentage (%)
            input.form-control(type="number", ng-model="data.tip_percentage")

          .form-group.text-center
            input.btn.btn-primary(type="submit", value="Submit") Submit
            button.btn(ng-click="cancelInfo()") Cancel

        section.sidebar
          h2 Customer Charges
          dl.dl-horizontal

            dt Subtotal
            dd {{ data.customer_subtotal | currency }}

            dt Tip
            dd {{ data.tip | currency }}

            dt Total
            dd {{ data.meal_total | currency}}

      .panel.primary
        h2 My Earnings Info
        dl.dl-horizontal

          dt Tip Total
          dd {{ data.tip_total | currency}}

          dt Meal Count
          dd {{ data.meal_count}}

          dt Average Tip Per meal
          dd {{ data.average_tip_per_meal | currency }}

      button.btn.pull-right(ng-click="resetApp()") Reset


    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="js/calcApp.js")
