!!! 5
html(ng-app="calcApp")
  head
    title Thinkful Waitstaff Calculator
    //- link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
    link(href="css/styles.css", rel="stylesheet")

  body
    .container
      header
        h1 TipiCal
      nav
        a(href="#/home") Home
        a(href="#/new_meal") New Meal
        a(href="#/my_earnings") My Earnings

      div(ui-view)

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/velocity/0.11.9/jquery.velocity.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js")
    script(src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js")
    script(src="js/calcApp.js")

